@tailwind components;

@import './typography.css';

/* .hero-section{
    background-image: url("../images/whiteboard.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
} */